# OS files #
############
[Tt]humbs.db
*.DS_Store
._*

# Visual Studio user files #
############################
*.suo
*.user
*.sdf
*.opensdf
*.aps

# Binaries and intermediate files #
###################################
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
x64
ipch